.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  float: right;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

</style><style>.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.icon.glyphicon.glyphicon-remove.btn-danger {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

#deletekeylogo {
  margin-left: 289px;
  opacity: 0;
  top: 19px;
}

#deletekeybg {
  margin-left: 49px;
  opacity: 0;
  top: 26px;
}

#deletekeyring0 {
  opacity: 0;
  margin-left: 24px;
  top: -8px;
}

#deletekeyring1 {
  opacity: 0;
  margin-left: 24px;
  top: -8px;
}

#deletekeyring2 {
  opacity: 0;
  margin-left: 24px;
  top: -8px;
}

#deletekeyring3 {
  opacity: 0;
  margin-left: 24px;
  top: -8px;
}

#deletekeyring4 {
  opacity: 0;
  margin-left: 24px;
  top: -8px;
}

#deletekeyhdr {
  opacity: 0;
  top: 40px;
  left: -52px;
  z-index: 9001;
}

#deletekeyglry {
  opacity: 0;
  top: 40px;
  left: 50px;
  z-index: 9001
}

#textArea:hover #deletekeyhdr {
  opacity: 1;
}

#galleryArea:hover #deletekeyglry {
  opacity: 1;
}

.image_holder:hover #deletekeylogo {
  opacity: 1;
}

.image_holder2:hover #deletekeybg {
  opacity: 1;
}

#ringbox0:hover #deletekeyring0 {
  opacity: 1;
}

#ringbox1:hover #deletekeyring1 {
  opacity: 1;
}

#ringbox2:hover #deletekeyring2 {
  opacity: 1;
}

#ringbox3:hover #deletekeyring3 {
  opacity: 1;
}

#ringbox4:hover #deletekeyring4 {
  opacity: 1;
}

#ringbox0 {
  background-color: #696969;
}

#ringbox1 {
  background-color: #808080;
}

#ringbox2 {
  background-color: #A9A9A9;
}

#ringbox3 {
  background-color: #C0C0C0;
}

#ringbox4 {
  background-color: #D3D3D3;
}

.range {
  margin-right: -430px;
  width: 384px;
  margin-left: 137px;
  margin-top: -52px;
  margin-bottom: 86px;
}

.input-group {
  width: 48px;
  height: 33px;
  margin-left: 395px;
  margin-top: -24px;
}

.input-group-addon {
  margin-left: 40px;
  margin-top: -34px;
  height: 34px;
  width: 34px;
}